<?xml version="1.0"?>
<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
	<node name="laser" pkg="urg_node" type="urg_node"/>
    

    <node name="move1" pkg="grp-marron" type="movebot.py" />
    <node name="obstaclelist" pkg="grp-marron" type="obstacle.py"/>
    <group if="$(arg rviz)">
    	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find grp-marron)/rviz/challengebot.rviz"/>
    </group>
</launch>

